beautifulsoup4==4.5.3
click==6.6
finsymbols==1.1.1
Flask==0.12
Flask-WTF==0.14.2
googlefinance==0.7
itsdangerous==0.24
Jinja2==2.8.1
MarkupSafe==0.23
MySQL-python==1.2.5
nsetools==1.0.1
oauthlib==2.0.1
passlib==1.7.0
pytz==2016.10
requests==2.12.4
requests-oauthlib==0.7.0
simplejson==3.10.0
six==1.10.0
tweepy==3.3.0
Werkzeug==0.11.15
WTForms==2.1
yahoo-finance==1.4.0
